

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');



/* Global Styling */
body {
   line-height: 1.8;
   color: #898fa1;
   font-size: 15px;
   font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6{
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #11245A;
}

a{
   font-weight: 700;
   transition: all 0.4s ease;
}

img{
   width: 100%;
}

small{
   font-size: 12px;
   letter-spacing: 2px;
   font-weight: 700;
}

section{
   padding-top: 100px;
   padding-bottom: 100px;
}

.btn{
   font-weight: 700;
   font-size: 14px;
   text-transform: uppercase;
   padding: 12px 40px;
   border-radius: 0;
}
/* Global Styling */



/* Navbar */
.navbar{
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand{
   font-size: 28px;
   text-transform: uppercase;
}

.navbar .navbar-nav .nav-link{
   font-size: 15px;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link.active{
   color: #E93B81;
}
/* Navbar */


/* Home */
#home{
   min-height: 100vh;
   background: linear-gradient(rgba(17,36,90,0.8),rgba(17, 36, 90, 0.8)), url(../img/hero_img.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   display: flex;
   align-items: center;
}

#home h1{
   font-weight: 700;
}

#home p{
   max-width: 550px;
   margin: 25px auto;
}

#home .primary-btn,
#contact .primary-btn{
   background-color: #E93B81;
   color: white;
}

#home .primary-btn:hover{
   background-color: #ce2f6e;
   color: white;
}
/* Home */



/* Services */
#services .section-heading .border-line,
#features .features-heading .border-line{
   width: 200px;
   height: 3px;
   background-color: lightgrey;
   margin: 25px auto 60px auto;
}

#services .icon-box{
   width: 70px;
   height: 70px;
   background-color: #E93B81;
   color: white;
   border-radius: 4px;
   display: flex;
   font-size: 32px;
   justify-content: center;
   align-items: center;
}
/* Services */



/* portfolio */
.portfolio{
   overflow: hidden;
   position: relative;
}

.portfolio img,
.portfolio .portfolio-overlay{
   transition: all 0.4s ease;
}

.portfolio-overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(17, 36, 90, 0.8);
   display: flex;
   align-items: flex-end;
   padding: 40px;
   opacity: 0;
}

.portfolio-overlay h3, h6{
   color: white;
}

.portfolio:hover .portfolio-overlay{
   opacity: 0.8;
}

.portfolio:hover img{
   transform: scale(1.1);
}
/* portfolio */



/* features */
#features .icon-box{
   width: 40px;
   height: 40px;
   background-color: #E93B81;
   color: white;
   border-radius: 50%;
   display: flex;
   font-size: 32px;
   justify-content: center;
   align-items: center;
   flex: none;
}
/* features */


/* team */
.team{
   background-color: #11245A;
}

.team h6{
  letter-spacing: 3px;
}

.team p{
   font-size: 18px;
}

.team .borderline{
   width: 70px;
   height: 2px;
   margin: 16px auto;
   background-color: lightgray;
}

.team .team-img img,
.team .team-img .social-icons{
   transition: all 0.4s ease;
}
.team .team-img{
   position: relative;
   overflow: hidden;
}

.team .team-img .social-icons{
   background-color: #E93B81;
   width: 100%;
   height: 60px;
   bottom: -60px;
   left: 0;
   position: absolute;
   align-items: center;
}

.team .team-img .social-icons a{
   width: 50px;
   height: 50px;
   color: white;
   font-size: 25px;
   border: 2px solid rgba(255, 255, 255, 0.5);
   border-radius: 50%;
   margin-left: 5px;
   margin-right: 5px;
   text-align: center;
   justify-content: center;
}

.team .team-img .social-icons a:hover{
   color: #E93B81;
   background-color: white;
}

.team:hover .team-img .social-icons{
bottom: 0;
}

.team:hover img{
   transform: translateY(-60px);
}
/* team */


/* testimonials */
.testimonial-text p{
   font-size: 23px;
   max-width: 720px;
   margin: 24px auto;
}

.testimonial-text h6{
   letter-spacing: 3px;
}

.review .star-icon{
   color: #E93B81;
}

#testimonials img{
   width: 70px;
   height: 70px;
   border-radius: 50%;
   border: none;
   transition: all 0.4s ease;
}

#testimonials .nav-pills .nav-link.active{
   background-color: transparent;
}

#testimonials .nav-pills .nav-link.active img{
   transform: scale(1.3);
}
/* testimonials */


/* client */
#client img{
   height: 36px;
}
/* client */


/* contact */
#contact form .form-control{
   border-radius: 0;
}

#contact form .form-control:focus{
   box-shadow: none;
   border-color: #E93B81;
}
/* contact */