

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');



/* Global Styling */

body {
   line-height: 1.8;
   color: #898fa1;
   font-size: 15px;
   font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6{
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #11245A;
}

a{
   font-weight: 700;
   transition: all 0.4s ease;
}

img{
   width: 100%;
}

small{
   font-size: 12px;
   letter-spacing: 2px;
   font-weight: 700;
}

section{
   padding-top: 100px;
   padding-bottom: 100px;
}
/* Global Styling */


/* Navbar */

.navbar{
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand{
   font-size: 28px;
   text-transform: uppercase;
}

.navbar .navbar-nav .nav-link{
   font-size: 15px;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.navbar .navbar-nav .nav-link:active{
   color: #E93B81;
}
/* Navbar */