@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

body {
   line-height: 1.8;
   color: #898fa1;
   font-size: 15px;
   font-family: 'Lato', sans-serif;
}


